

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MI SERVIDOR DOJO01</title>
  </head>
  <body>
    <h1>FT TECHNOLOGY DOJOS</h1>
<a href="/">regresar</a>

<br><br><br>
    <p>{{message}}</p>

  </body>
</html>